/* *{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
} */

.highlight {
    background-color: rgb(255, 166, 0);
    padding: 4px;
    padding-left: 40%; 
     
}
.navber {
    background-color: rgb(176, 230, 230);
    padding: 4px;
}
.navber ul li {
    display: inline-block;
    
}
.header_main_section ul li{
    display: inline-block;
}
.header_main_section ul li{
    vertical-align: middle;
}
.product ul li{
    display: inline-block;
}
/* .searchbox{
    padding-left: 5%;
   
} */
.searchbox{
    border: 1px solid;
}
.searchbox form {
   
    padding: 7px 5px 3px 5px;
}
.searchbox form input:focus {
    outline-color: #ffffff ;
}

